@font-face {
    font-family: JollySweater;
    src: url(./fonts/JollySweater-Regular.ttf);
}
@font-face {
    font-family: JollySweater-bold;
    src: url(./fonts/JollySweater-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: spectral;
    src: url(./fonts/Spectral-Medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral-Regular.ttf);
    font-weight: normal;
}

body {
    margin: 0;
    padding: 15px;
    background-attachment: fixed;
    background-color: #a20000;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start;
    font-family: Spectral;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-family: JollySweater-bold, cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #ffcece;
    margin: 10px 0 5px 0;
}

.tracking {
    font-family: monospace;
    font-size: 0.9rem;
    margin: 15px 0 15px 0;
    color: #fff1f1;
}

body a {
    color: #ffcece;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
    text-decoration-color: #42c01b;
}

.content {
    text-align: center;
    font-family: Spectral;
    color:rgb(253, 253, 253);
}

#recipeForm {
    color: white;
    margin: 20px auto;
    width: 100%;
    min-width: 100px;
    max-width: 850px;
    padding: 10px;
    border: 1px solid #c78686;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0;
    box-sizing: border-box;
}

#recipeForm label {
    display: block;
    font-weight: 550;
}

#recipeForm input,
#recipeForm textarea {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#recipeForm input[type="submit"] {
    width: auto;
    background-color: rgb(0, 73, 0);
    color: white;
    border: none;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

#recipeForm input[name="pin"] {
    width: 150px;
}

#recipeForm textarea {
    resize: vertical;
}
#recipes {
    color: white;
    margin: 20px auto;
    width: 100%;
    min-width: 100px;
    max-width: 850px;
    padding: 15px;
    border: 1px solid #c78686;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 0;
    box-sizing: border-box;
}
#recipes p {
    background-color: rgb(0, 73, 0);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    color:white;
    width: 100%;
    box-sizing: border-box;
}

footer {
    margin-top: auto;
    width: 100%;
    padding: 10px 0 20px 0;
    text-align: center;
    color: white;
    text-align: center;
    vertical-align: middle;
}

footer #content::before {
    content: "VCMT";
    font-family: JollySweater-bold;
}

footer:hover #content::before {
    content: "Vejas's Christmas Meal Tracker";
    font-family: JollySweater-bold;
}


.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}